@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

*,
*::after,
*::before {
	position: relative;
	box-sizing: border-box;
	font: inherit;
	color: inherit;
	background-color: inherit;
	padding: 0;
	margin: 0;
}

:root {
	font-size: 112.5%; /* 18px */
}

/* .roboto-flex-400 { */
/* font-family: 'Roboto Flex', serif; */
/* font-optical-sizing: auto; */
/* font-weight: 400; */
/* font-style: normal; */
/* font-variation-settings: 'slnt' 0, 'wdth' 100, 'GRAD' 0, 'XOPQ' 96, 'XTRA' 468, 'YOPQ' 79, 'YTAS' 750, 'YTDE' -203, */
/* 'YTFI' 738, 'YTLC' 514, 'YTUC' 712; */
/* } */

body {
	padding-inline: 1ch;
	max-width: 96ch;
	margin-inline: auto;
	font-size: 1rem;
	font-family: 'Rajdhani', sans-serif;
	/* font-family: 'Roboto Flex', serif; */
	/* font-family: 'Quicksand', sans-serif; */
	/* font-family: 'Barlow', sans-serif; */
	/* font-family: 'Barlow Condensed', sans-serif; */
	font-family: 'Barlow Semi Condensed', sans-serif;
}

p {
	margin-block: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding-block: 0.5em;
	margin-block: 0.75em 1em;
	font-weight: 500;
}

h1 {
	font-size: 2.4rem;
	border-bottom: solid 1px lightskyblue;
}

h2 {
	font-size: 2.1rem;
}

:is(button, .button) {
	display: inline-flex;

	/* margin: 0.3em; */
	padding: 0.5em 0.8em;
	color: midnightblue;
	background-color: aliceblue;
	border: none;
	border-radius: 0.5em;

	/* transition-property: all;
	transition-duration: 300ms; */
}

:is(button, .button).cta {
	background-color: lightsteelblue;
	font-weight: 500;
}

:is(button, .button):hover {
	cursor: pointer;
	background-color: steelblue;
	color: aliceblue;
}
